process {
    cpus   = 1
    memory = 3.5.GB
    time   = 1.h

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 10
        memory = 32.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   = 20
        memory = 32.GB
        time   = 4.h
    }
    withLabel:process_very_high {
        cpus   = 52
        memory = 32.GB
        time   = 4.h
    }
    withLabel:process_very_short {
        time   = 2.m
    }
    withLabel:process_short {
        time   = 10.m
    }
    withLabel:process_long {
        time   = 48.h
    }
    withLabel:process_high_memory {
        memory = 192.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}