// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
    cpus   = 1

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
    }
    withLabel:process_medium {
        cpus   = 10
    }
    withLabel:process_high {
        cpus   = 128
    }
    withLabel:process_very_high {
        cpus   = 256
    }
}

params {
    script_dir = '/scripts'
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B $TMPDIR:/tmp -B ${launchDir}/scripts:${params.script_dir}:ro"
}
