// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/comparison_with_mut"
    script_dir = '/scripts'

    hoxd_wt_cell_line = "jm8.n4"
    chrom_sizes_hoxd = "${data_dir}/output/preprocessing/chrom_sizes/GRCm38.chrom.sizes"
    candidate_barriers_hoxd = "${data_dir}/output/preprocessing/extrusion_barriers/GRCm38_JM8.N4_barriers_RAD21_occupancy.bed.gz"
    regions_of_interest_hoxd = "${data_dir}/input/hoxd_regions_of_interest.bed"
    bin_size_hoxd = 5000
    target_contact_density_hoxd = 2.0

    idh_wt_cell_line = "gm12878"
    chrom_sizes_idh = "${data_dir}/output/preprocessing/chrom_sizes/GRCh37.chrom.sizes"
    candidate_barriers_idh = "${data_dir}/output/preprocessing/extrusion_barriers/GRCh37_GM12878_barriers_RAD21_occupancy.bed.gz"
    regions_of_interest_idh = "${data_dir}/input/idh_mutant_regions_of_interest.bed"
    bin_size_idh = 5000
    target_contact_density_idh = 2.0

    hoxd_low_sigma = 1.75
    hoxd_sigma_mult = 1.05
    hoxd_discr_thresh = 0.11

    // GM12878
    idh_low_sigma = 1.75
    idh_sigma_mult = 1.05
    idh_discr_thresh = 0.21

    modle_low_sigma = 1.0
    modle_sigma_mult = 1.25
    modle_discr_thresh = 0.015

    hoxd_wt_hic = "${data_dir}/output/preprocessing/mcools/GRCm38_JM8.N4_mESC_microc_4DNFINNZDDXV_fixed.mcool"
    idh_wt_hic = "${data_dir}/output/preprocessing/mcools/GRCh37_GM12878_GSE63525_insitu.mcool"

    hoxd_rearr1 = "${input_dir}/del1-13d9lac.bed"
    hoxd_rearr2 = "${input_dir}/delattP-Rel5d9lac.bed"
    idh_mut_rearr = "${input_dir}/idh_mutant.bed"

    modle_config = 'configs/modle/comparison_with_mut.toml'

    cxpb_001 = 0.2
    mutpb_ind_001 = 0.8
    mutpb_locus_001 = 0.05
    mutsigma_001 = 0.1

    cxpb_002 = 0.25
    mutpb_ind_002 = 0.5
    mutpb_locus_002 = 0.025
    mutsigma_002 = 0.02

}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/param-optimization:1.0.17'

    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
}
