// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/extrusion_barrier_param_optimization"
    script_dir = '/scripts'

    chrom_sizes = "${data_dir}/output/preprocessing/chrom_sizes/GRCh38.chrom.sizes"
    candidate_barriers = "${data_dir}/output/preprocessing/extrusion_barriers/GRCh38_CTCF_mast_hits.bed.gz"
    regions_of_interest = "${data_dir}/input/extrusion_barrier_param_optimization_regions_of_interest.bed"
    bin_size = 5000
    target_contact_density = 2.0

    microc_low_sigma = 1.5
    microc_sigma_mult = 1.05
    microc_discr_thresh = 0.035

    modle_low_sigma = 1.0
    modle_sigma_mult = 1.25
    modle_discr_thresh = 0.015

    reference_microc = "${data_dir}/output/preprocessing/mcools/GRCh38_H1_hESC_microC_4DNFI9GMP2J8_fixed.mcool"

    microc_modle_config = 'configs/modle/extrusion_barrier_param_optimization_microc.toml'

    cxpb_001 = 0.2
    mutpb_ind_001 = 0.8
    mutpb_locus_001 = 0.05
    mutsigma_001 = 0.1
    num_islands_001 = 1

    cxpb_002 = 0.25
    mutpb_ind_002 = 0.5
    mutpb_locus_002 = 0.01
    mutsigma_002 = 0.03
    num_islands_002 = 8

    cxpb_003 = 0.25
    mutpb_ind_003 = 0.5
    mutpb_locus_003 = 0.005
    mutsigma_003 = 0.01
    num_islands_003 = 0
}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/param-optimization:1.0.17'

    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
}
