params {
  download_list = 'data/download_list.txt'
  checksums = 'data/sha256checksums.txt'

  data_dir = 'data'
  output_dir = "$data_dir/input"
  download_dir = "$data_dir/downloads"
}

process {
    container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/utils:1.0.0'
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
