params {
  modle_config_dir = 'configs/modle'
  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/genome_wide_analyses"

  ncpus = 16

  // modle sim configs
  modle_all_ctcf_sites_config = "${modle_config_dir}/GRCh38_HeLa_all_ctcf_sites.toml"

  // modle sim input files
  grch38_chrom_sizes = "${data_dir}/output/preprocessing/GRCh38.chrom.sizes"
  grch38_hela_extr_barriers_all = "${data_dir}/output/preprocessing/GRCh38_HeLa_CTCF_sites_filtered.bed.gz"

  // modle_tools input files
  grch38_hela_reference_matrix = "${data_dir}/input/GRCh38_HeLa_HiC_4DNFIBM9QCFG.mcool"

  // modle and modle_tools params
  bin_size = 5000
  diagonal_width = 3000000
  gaussian_blur_sigma_ref = 2.0
  gaussian_blur_sigma_tgt = 1.0
  gaussian_blur_multiplier_ref = 1.6
  gaussian_blur_multiplier_tgt = 1.6
  binary_discretization_value_ref = 1.5
  binary_discretization_value_tgt = 1.0

}

process {
    container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.2'

    withName:compute_custom_score_accuracy {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/param-optimization:1.0.12'
    }

    withName:select_sites_of_interest {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
