// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {

    data_dir = 'data'
    input_dir = "$data_dir/input"
    outdir = "$data_dir/output/heatmap_comparison_pt1"
    script_dir = '/scripts'
    plot_outdir = "$outdir/plots"
    matrix_outdir = "$outdir/matrices"

    assembly_name = 'GRCh38'
    cell_line_name = 'H1'
    chrom_sizes = "$data_dir/output/preprocessing/chrom_sizes/${assembly_name}.chrom.sizes"
    extr_barriers = "$data_dir/output/preprocessing/extrusion_barriers/${assembly_name}_${cell_line_name}_barriers_RAD21_occupancy.bed.gz"
    regions_of_interest = "$input_dir/${assembly_name}_regions_for_heatmap_comparison_pt1.bed"

    microc_cool = "$data_dir/output/preprocessing/mcools/${assembly_name}_${cell_line_name}_hESC_microC_4DNFI9GMP2J8_fixed.mcool"

    modle_configs = 'configs/modle/heatmap_comparison_pt1*.toml'

    monomer_size = 1000
    bin_size = 5000
    diagonal_width = 3000000
    extrusion_barrier_occupancy = 0.825

    md_lef_processivity = 200000  // bp
    md_lef_separation = 200000  // bp

    diff_of_gaussians_cutoff_microc = 1.5
    diff_of_gaussians_cutoff_modle = 0.75
    diff_of_gaussians_cutoff_openmm = 350
    diff_of_gaussians_diagonal_width = diagonal_width

    contact_subsampling_diagonal_width = diagonal_width

    bin_size_correlation = 25000
    diagonal_width_correlation = 2000000

}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/py-utils:1.0.4'

    withName:run_openmm {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/openmm-benchmark:1.0.2'
        clusterOptions = " -A $params.project --partition=accel --gpus=1"
    }
    withName:openmm_to_cool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/openmm-benchmark:1.0.2'
    }
    withName:run_modle {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.7'
    }
    withName:subsample_contacts {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:run_stripenn {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/stripenn:1.1.65.7-patched'
    }
    withName:compute_diff_of_gaussian {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.7'
    }
    withName:run_modle_tools_eval {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.7'
    }
    withName:filter_modle_tools_eval {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
    withName:filter_custom_scores {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts/:/scripts:ro --nv"
}
