// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {

    data_dir = 'data'
    input_dir = "${data_dir}/input"
    outdir = "${data_dir}/output/heatmap_comparison_pt2"
    script_dir = '/scripts'

    assembly_name = 'GRCh38'
    cell_line_name = 'H1'
    chrom_sizes = "${data_dir}/output/preprocessing/chrom_sizes/${assembly_name}.chrom.sizes"
    extr_barriers = "${data_dir}/output/preprocessing/extrusion_barriers/${assembly_name}_${cell_line_name}_barriers_RAD21_occupancy.bed.gz"
    chroms_of_interest_regex = 'chr8'

    modle_config_lef_param_exploration = 'configs/modle/heatmap_comparison_pt2_lef_param_exploration_template.toml'
    lef_processivity = '50k,100k,250k,300k,500k,750k,1m'
    lef_density = '0.1,1,5,10,20,25,50,75,100,250'
    lef_prob_bypass = '0.0,0.01,0.05,0.1,0.2,0.25,0.5,0.75,0.9,1.0'

    modle_configs_prob_decay = 'configs/modle/heatmap_comparison_pt2_prob_decay*.toml'
    hic_matrix = "${data_dir}/output/preprocessing/mcools/GRCh38_H1_hESC_hic_4DNFIFJH2524_fixed.mcool"
    microc_matrix = "${data_dir}/output/preprocessing/mcools/GRCh38_H1_hESC_microC_4DNFI9GMP2J8_fixed.mcool"

    plot_bin_size = 5000
    plot_diag_width = 2000000
}

process {
    container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.7'

    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:cooltools_expected_cis {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:plot_prob_decay {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/py-utils:1.0.4'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts/:/scripts:ro --nv"
}
