params {

  data_dir = 'data'
  input_dir = "$data_dir/input"
  outdir = "$data_dir/output/heatmaps_comparison"
  plot_outdir = "$outdir/plots"
  matrix_outdir = "$outdir/matrices"

  run_openmm_script = 'scripts/openmm/polymer_simulation_diffusive_mixed.py'
  openmm_to_cool_script = 'scripts/openmm/generate_contact_matrix.py'
  subsample_contacts_script = 'scripts/subsample_contact_matrix.py'
  dump_pixels_script = 'scripts/extract_pairs_of_pixels_from_cool.py'
  compute_custom_scores_script = 'scripts/compute_custom_score.py'

  assembly_name = 'GRCh38'
  cell_line_name = 'H1'
  chrom_sizes = "$data_dir/output/preprocessing/${assembly_name}.chrom.sizes"
  extr_barriers = "$data_dir/output/preprocessing/${assembly_name}_${cell_line_name}_barriers_RAD21_occupancy.bed.gz"
  regions_of_interest = "$input_dir/${assembly_name}_regions_for_heatmap_comparison.bed"

  microc_cool = "$data_dir/output/preprocessing/${assembly_name}_${cell_line_name}_hESC_microC_4DNFI9GMP2J8_fixed.mcool"

  modle_config_tad_plus_loop = 'configs/modle/heatmap_comparison_tad_plus_loop.toml'
  modle_config_tad_only = 'configs/modle/heatmap_comparison_tad_only.toml'
  modle_config_loop_only = 'configs/modle/heatmap_comparison_loop_only.toml'
  modle_config_ctcf_kd = 'configs/modle/heatmap_comparison_ctcf_kd.toml'
  modle_config_wapl_kd = 'configs/modle/heatmap_comparison_wapl_kd.toml'

  monomer_size = 1000
  bin_size = 5000
  diagonal_width = 3000000
  extrusion_barrier_occupancy = 0.825

  md_lef_processivity = 200000  // bp
  md_lef_separation = 200000  // bp

  diff_of_gaussians_cutoff_microc = 1.5
  diff_of_gaussians_cutoff_modle = 0.75
  diff_of_gaussians_cutoff_openmm = 350
  diff_of_gaussians_diagonal_width = diagonal_width

  contact_subsampling_diagonal_width = diagonal_width

}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/py-utils:1.0.4'

    withName:run_openmm {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/openmm-benchmark:1.0.1'
        clusterOptions = " -A $params.project --partition=accel --gpus=1"
    }
    withName:openmm_to_cool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/openmm-benchmark:1.0.1'
    }
    withName:run_modle {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.3'
    }
    withName:subsample_contacts {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:run_stripenn {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/stripenn:1.1.65.5'
    }
    withName:compute_diff_of_gaussian {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.3'
    }
    withName:run_modle_tools_eval {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.3'
    }
    withName:filter_modle_tools_eval {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
    withName:filter_custom_scores {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = '--nv'
}
