params {

  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/plots"
  heatmap_comparison_output_dir = "${output_dir}/heatmap_comparison"

  sanborn2015_suppl_pdf = "$input_dir/Sanborn2015_suppl.pdf"
  sanborn2015_plot_digests = "$data_dir/sanborn2015_plots.sha256"

  convert_images_to_cool_script = 'scripts/convert_images_to_cool.py'
  liftover_cool_script = 'scripts/liftover_matrix_cool.py'
  plot_comparison_script = 'scripts/make_heatmap_comparison_plot.py'
  assembly_name = 'GRCh38'
  chrom_sizes = "$data_dir/output/preprocessing/GRCh38.chrom.sizes"
  extr_barriers = "$input_dir/GRCh38_GM12878_chr_3_5_7_extr_barriers_0.25_cutoff_sanborn_2015.bed"
  chrom_range_mappings = "$input_dir/GRCh37_to_GRCh38_chr_3_5_7_chrom_subranges_sanborn_2015.bedpe"

  hic_cool = "$data_dir/output/preprocessing/GRCh37_GM12878_Sanborn2015.mcool"
  microc_cool = "$input_dir/GRCh38_H1_hESC_microC_4DNFI9GMP2J8.mcool" // This is not GM12878!!
  modle_config = 'configs/modle/GRCh38_sanborn2015_comparison.toml'
  chrom_ranges_hic_cmp = "$input_dir/GRCh38_chr_3_5_7_chrom_subranges_sanborn_2015.bed"
  chrom_ranges_microc_cmp = 'chr7:15000000-16500000'
  bin_size = 5000

  md_lef_processivity = 200000  // bp
  md_lef_separation = 200000  // bp

  color_scale_intervals = '0-0.01,0-1,0-0.3,0-0.01'
  color_maps = 'fall_mod,fall_mod,fall_mod,fall_mod'
}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/py-utils:1.0.4'

    withName:run_openmm {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/openmm-benchmark:1.0.1'
    }
    withName:openmm_to_cool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/openmm-benchmark:1.0.1'
    }
    withName:run_modle {
        container = 'docker://ghcr.io/paulsengroup/modle:1.0.0-rc.2'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = '--nv'
}
