params {

  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/plots"

  sanborn2015_suppl_pdf = "$input_dir/sanborn2015_suppl.pdf"
  sanborn2015_modle_cool = "$data_dir/output/md_comparison/gm12787_chr_3_5_7_sanborn_2015_0.25_cutoff_subranges.cool"
  sanborn2015_plot_digests = "$data_dir/sanborn2015_plots.sha256"
}

process {
    container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/plotting:1.0.0'
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
