params {
  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/optimize_modle_sim_params"

  param_space_file = "$input_dir/modle_sim_param_optimization_search_space.tsv"
  chrom_sizes_file = "$data_dir/output/preprocessing/GRCh38.chrom.sizes"
  extr_barrier_file = "$data_dir/output/preprocessing/GRCh38_HeLa_CTCF_sites_filtered.bed.gz"
  reference_matrix_file = "$input_dir/GRCh38_HeLa_HiC_4DNFIBM9QCFG.mcool"
  excluded_chroms = "chrY,chrM"
  starting_point = "20,5.0,0.825,0.7,5000,1.0,256"
  output_prefix = "optimize_modle_sim_params"
  optimization_method = "bayesian"
  scoring_method = "custom"
  gaussian_sigma_ref = 2.0
  gaussian_sigma_multiplier_ref = 1.6
  discretization_thresh_ref = 1.5
  gaussian_sigma_tgt = 1.0
  gaussian_sigma_multiplier_tgt = 1.6
  discretization_thresh_tgt = 1.0
  bin_size = 5000
  diagonal_width = 3000000
  ncpus=256
  eval_sites_fraction_for_training = 0.5

  num_calls = 200
  num_random_starts = 15
  seed = 1630986062
  num_params_to_test = 1

}

process {
   container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/param-optimization:1.0.1'

    withName:run_stripenn_compute {
            container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/stripenn:1.1.65'
        }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
