// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/optimize_modle_sim_params"

  param_space_file1 = "$input_dir/modle_sim_param_optimization_search_space1.tsv"
  param_space_file2 = "$input_dir/modle_sim_param_optimization_search_space2.tsv"
  assembly_name = 'GRCh38'
  cell_line_name = 'H1'
  chrom_sizes_file = "$data_dir/output/preprocessing/${assembly_name}.chrom.sizes"
  extr_barrier_file = "$data_dir/output/preprocessing/${assembly_name}_${cell_line_name}_barriers_RAD21_occupancy.bed.gz"
  reference_matrix_file = "$data_dir/output/preprocessing/${assembly_name}_${cell_line_name}_hESC_microC_4DNFI9GMP2J8_fixed.mcool"
  excluded_chroms = "chrY,chrM"
  starting_point1 = "0.825,0.7,5000,1.0,16,loop-only-with-noise"
  starting_point2 = "0.825,0.7,5000,6.0,16,tad-plus-loop-with-noise"
  output_prefix1 = "modle_sim_param_optimization_loop_only"
  output_prefix2 = "modle_sim_param_optimization_tad_plus_loop"

  optimization_method = "bayesian"
  scoring_method = "custom"
  gaussian_sigma_ref = 1.0
  gaussian_sigma_multiplier_ref = 1.6
  discretization_thresh_ref = 1.5
  gaussian_sigma_tgt = 1.0
  gaussian_sigma_multiplier_tgt = 1.6
  discretization_thresh_tgt = 0.75
  bin_size = 5000
  diagonal_width = 3000000
  eval_sites_fraction_for_training = 0.5

  num_calls = 400
  num_random_starts = 30
  seed = 3378019110
  num_params_to_test = 5

  optimize_modle_sim_script = 'scripts/optimize_modle_sim_params.py'

}

process {
   container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/param-optimization:1.0.14'

    withName:run_stripenn {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/stripenn:1.1.65.5'
    }

    withName:cooler_zoomify {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
