params {
  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/optimize_modle_sim_params"

  param_space_file = "$input_dir/modle_sim_param_optimization_search_space.tsv"
  assembly_name = 'GRCh38'
  cell_line_name = 'H1'
  chrom_sizes_file = "$data_dir/output/preprocessing/${assembly_name}.chrom.sizes"
  extr_barrier_file = "$data_dir/output/preprocessing/${assembly_name}_${cell_line_name}_barriers_RAD21_occupancy.bed.gz"
  reference_matrix_file = "$input_dir/${assembly_name}_${cell_line_name}_hESC_microC_4DNFI9GMP2J8.mcool"
  excluded_chroms = "chrY,chrM"
  starting_point = "0.825,0.7,10000,1.0,256,loop-only-with-noise"
  output_prefix = "optimize_modle_sim_params"
  optimization_method = "bayesian"
  scoring_method = "custom"
  gaussian_sigma_ref = 1.0
  gaussian_sigma_multiplier_ref = 1.6
  discretization_thresh_ref = 1.5
  gaussian_sigma_tgt = 1.0
  gaussian_sigma_multiplier_tgt = 1.6
  discretization_thresh_tgt = 0.75
  bin_size = 10000
  diagonal_width = 3000000
  ncpus=256
  eval_sites_fraction_for_training = 0.5

  num_calls = 200
  num_random_starts = 15
  seed = 1630986062
  num_params_to_test = 1

  optimize_modle_sim_script = 'scripts/optimize_modle_sim_params.py'

}

process {
   container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/param-optimization:1.0.11'

    withName:run_stripenn {
        container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/stripenn:1.1.65.5'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
