params {
  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/preprocessing"

  grch37_assembly_name_short = 'GRCh37'
  grch37_assembly_name = "${grch37_assembly_name}.p13"
  grch37_assembly_name_long = "GCF_000001405.25_${grch37_assembly_name}"

  grch38_assembly_name_short = 'GRCh38'
  grch38_assembly_name = "${grch38_assembly_name}.p13"
  grch38_assembly_name_long = "GCF_000001405.39_${grch38_assembly_name}"

  cell_line_name = "H1"

  jaspar_2022_core_zip = "$input_dir/JASPAR_2022_core.zip"
  motif_name = 'MA0139.1'

  grch37_assembly_report = "$input_dir/${grch37_assembly_name_short}_assembly_report.txt.gz"

  grch38_assembly_report = "$input_dir/${grch38_assembly_name_short}_assembly_report.txt.gz"
  grch38_genome_annotation = "$input_dir/${grch38_assembly_name_short}_genome_annotation.gtf.gz"
  grch38_genome_assembly = "$input_dir/${grch38_assembly_name_short}_genome_assembly.fna.gz"

  h1_ctcf_chip_peaks = "$input_dir/GRCh38_${cell_line_name}_CTCF_chip_narrow_peaks.bed.gz"
  h1_rad21_chip_peaks = "$input_dir/GRCh38_${cell_line_name}_RAD21_chip_narrow_peaks.bed.gz"
  h1_ctcf_chip_fold_change = "$input_dir/GRCh38_${cell_line_name}_CTCF_chip_fold_change.bigwig"
  h1_rad21_chip_fold_change = "$input_dir/GRCh38_${cell_line_name}_RAD21_chip_fold_change.bigwig"

  // Scripts
  convert_chip_to_occupancy_script = 'scripts/convert_chip_signal_to_occupancy.py'
}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/utils:1.0.3'
    withName:run_mast {
        container = 'docker://memesuite/memesuite:5.4.1'
    }
    withName:generate_extr_barriers_bed {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
    withName:extract_meme_motif_from_zip {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/utils:1.0.3'
    }
    withName:generate_extr_barriers_bed {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/py-utils:1.0.4'
    }
    withName:convert_hic_to_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/hicexplorer:3.7.2'
    }
    withName:rename_chromosomes_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:balance_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
}
