params {
  assembly_name_short = 'GRCh38'
  assembly_name = "${assembly_name_short}.p13"
  assembly_name_long = "GCF_000001405.25_${assembly_name}"
  
  cell_line_name = "HeLa"

  data_dir = 'data'
  input_dir = "$data_dir/input"
  output_dir = "$data_dir/output/preprocessing"

  ctcf_motif = "$input_dir/CTCF_motif.meme.gz"

  assembly_report = "$input_dir/GRCh38_assembly_report.txt.gz"
  genome_annotation = "$input_dir/GRCh38_genome_annotation.gtf.gz"
  genome_assembly = "$input_dir/GRCh38_genome_assembly.fna.gz"
  hela_ctcf_chip = "$input_dir/GRCh38_${cell_line_name}_CTCF_chip_narrow_peaks.bed.gz"
  hela_rad21_chip = "$input_dir/GRCh38_${cell_line_name}_RAD21_chip_narrow_peaks.bed.gz"
}

process {
    container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/utils:1.0.0'
    withName:run_mast {
        container = 'docker://memesuite/memesuite@sha256:97d4a95470e279349fbccc9430dc93ec50fc53b0fb427abdddf9cb764e762a32'
    }
    withName:generate_extr_barriers_bed {
        container = 'docker://ghcr.io/robomics/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
}

singularity {
    enabled = true
}