// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'data'
    input_dir = "${data_dir}/input"
    output_dir = "${data_dir}/output/preprocessing"
    script_dir = '/scripts'

    grch37_assembly_name_short = 'GRCh37'
    grch37_assembly_name = "${grch37_assembly_name}.p13"
    grch37_assembly_name_long = "GCF_000001405.25_${grch37_assembly_name}"

    grch38_assembly_name_short = 'GRCh38'
    grch38_assembly_name = "${grch38_assembly_name}.p13"
    grch38_assembly_name_long = "GCF_000001405.39_${grch38_assembly_name}"

    grcm38_assembly_name_short = 'GRCm38'
    grcm38_assembly_name = "${grcm38_assembly_name}.p6"
    grcm38_assembly_name_long = "GCF_000001635.26_${grcm38_assembly_name}"

    cell_line_name = "H1"

    jaspar_2022_core_zip = "${input_dir}/JASPAR_2022_core.zip"
    motif_id = 'MA0139.1'
    motif_name = 'CTCF'

    assembly_reports = "${input_dir}/GRC*_assembly_report.txt.gz"
    genome_assemblies = "${input_dir}/GRC*_genome_assembly.fna.gz"

    h1_ctcf_chip_peaks = "${input_dir}/GRCh38_${cell_line_name}_CTCF_chip_narrow_peaks.bed.gz"
    h1_rad21_chip_peaks = "${input_dir}/GRCh38_${cell_line_name}_RAD21_chip_narrow_peaks.bed.gz"
    h1_ctcf_chip_fold_change = "${input_dir}/GRCh38_${cell_line_name}_CTCF_chip_fold_change.bigwig"
    h1_rad21_chip_fold_change = "${input_dir}/GRCh38_${cell_line_name}_RAD21_chip_fold_change.bigwig"

    hic_files = "${input_dir}/*.hic"
    broken_mcools = "${input_dir}/*.mcool"
    geo_tar_matrices = "${input_dir}/GRCm38_E12.*.tar.gz"
}

process {
    container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/utils:1.0.3'
    withName:run_mast {
        container = 'docker://memesuite/memesuite:5.4.1'
    }
    withName:generate_extr_barriers_bed {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/bedtools:2.30.0'
    }
    withName:extract_meme_matrix_from_zip {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/utils:1.0.3'
    }
    withName:generate_extr_barriers_bed {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/py-utils:1.0.4'
    }
    withName:convert_hic_to_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/hicexplorer:3.7.2'
    }
    withName:balance_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:rename_chromosomes_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:fix_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:geo_tar_matrix_to_mcool {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
    withName:call_compartments {
        container = 'docker://ghcr.io/paulsengroup/2021-modle-paper-001-data-analysis/cooltools:0.5.1'
    }
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts:${params.script_dir}:ro"
}
